EXPO_PUBLIC_API_URL=http://localhost:5001/sebrae-app/southamerica-east1
EXPO_PUBLIC_APP_NAME=Sebrae App
EXPO_PUBLIC_APP_LANGUAGE=pt-BR

EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

EXPO_PUBLIC_USE_FIREBASE_EMULATOR=true
EXPO_PUBLIC_FIREBASE_EMULATOR_HOST=127.0.0.1
